.About {
  height: 100vh;
  background-color: #C5D5C1;
}

.About__title {
  margin-left: -5vw;
  margin-top: 40vh;
  writing-mode: vertical-lr;
  font-family: 'Josefin Sans', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  padding-bottom: 10px;
}