.Contact {
  height: 100vh;
  //padding-top: 20vh;
  @media (max-width: 575px) {
    height: auto;
  }
}

.Contact__map {
  padding-top: 25vh;
  width: 100%;
  @media (max-width: 575px) {
    padding-top: 0;
    margin-bottom: 80px;
  }
}

.Contact__text {
  padding-top: 25vh;
  @media (max-width: 575px) {
    padding-top: 80px;
  }
}

.Contact__title {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Josefin Sans', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
}

.Contact__info {
  margin-bottom: 80px;
  ul {
    text-align: left;
    padding-left: 0;
    li {
      margin-bottom: 12px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ddd;
      //font-family: 'Josefin Sans', 'Segoe UI', 'Roboto', 'Helvetica Neue', 
    }
  }
}

.Contact__bold {
  font-weight: 600;
}
