.Header {
  position: fixed;
  height: 60px;
  width: 100vw;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 30;
  @media (max-width: 575px) {
    position: relative;
    height: auto;
  }

  button:focus {
    outline: none;
  }
}

.Header__logo {
  display: inline-block;
  border: none;
  background-color: transparent;
  padding-bottom: 15px;
  //vertical-align: top;
  text-align: start;
  img {
    height: 20px;
  }
}

.Header__menu {
  padding-top: 5px;
  text-align: end;
  font-family: 'Josefin Sans', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  @media (max-width: 575px) {
    text-align: start;
    padding-top: 0;
  }
  ul {
    @media (max-width: 575px) {
      padding-left: 0;
    }
    li {
      margin-left: 60px;
      display: inline;
      font-size: 16px;
      font-weight: 400;
      button {
        border: none;
        background-color: transparent;
        padding: 0 0 0 0;
        color: #777;
      }
      button:hover {
        transition-duration: 300ms;
        color: black;
      }
      @media (max-width: 1200px) {
        margin-left: 40px;
      }
      @media (max-width: 575px) {
        margin-left: 0;
        margin-right: 24px;
      }
    }
  }
}
