.People {
  height: 100vh;
  background-color: #C5D5C1;
  @media (max-width: 575px) {
    height: auto;
  }
}

.People__cards {
  margin-top: 30vh;
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1500px) {
    margin-top: 10vh;
    height: 80vh;
  }
  @media (max-width: 575px) {
    height: auto;
    margin-top: 40px;
    height: auto;
    //display: block;
  }
}