.ServiceCarousel {
  position: relative;
  .ServiceCarousel__panel {
    height: 60vh;
    width: 300px;
    .ServiceCarousel__title {
      margin-bottom: 40px;
      font-size: 40px;
      font-weight: bold;
      font-family: 'Josefin Sans', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    }
    .ServiceCarousel__section {
      height: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 1200px) {
        display: inline-block;
      }
    }
    
    .ServiceCarousel__logo {
      float: left;
      margin-left: 30px;
      margin-right: 100px;
      min-width: 20%;
      @media (max-width: 1200px) {
        float: none;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        margin-bottom: 80px;
      }
      img {
        width: 100%;
      }
    }
    .ServiceCarousel__description {
      width: 70%;
      div {
        font-size: 16px;
        margin-bottom: 12px;
        text-align: left;
        word-break: keep-all;
      }
    }
  }
}

.ServiceCarousel__button {
  position: absolute;
  top: 27vh;
  border: none;
  background-color: transparent;
  z-index: 20;
  img {
    width: 30px;
  }
}
.ServiceCarousel__button:hover {
  cursor: pointer;
}
.ServiceCarousel__button:focus {
  outline: none;
}

.prev {
  left: -4vw;
}

.next {
  right: -4vw;
}

