.ServiceCarousel {
  position: relative;
  .ServiceCarousel__panel {
    height: 60vh;
    width: 300px;
    background-color: gray;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.ServiceCarousel__button {
  position: absolute;
  top: 27vh;
  border: none;
  background-color: transparent;
  z-index: 20;
  img {
    width: 30px;
  }
}
.ServiceCarousel__button:hover {
  cursor: pointer;
}
.ServiceCarousel__button:focus {
  outline: none;
}

.prev {
  left: -4vw;
}

.next {
  right: -4vw;
}