.Service {
  height: 100vh;
  //background-color: #C5D5C1;
}

.Service__cards {
  margin-top: 30vh;
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1500px) {
    margin-top: 10vh;
    height: 80vh;
  }
}